doctype html
html
    head
        title=title
        link(rel="stylesheet",href="/stylesheets/wish.css")
        link(rel="stylesheet",href="/stylesheets/jquery.toastmessage.css")
        script(src="/javascripts/jquery-1.10.2.min.js")
        script(src="/javascripts/wish.js")
        script(src="/javascripts/jquery.toastmessage.js")
    body
        header
            if (userCode)
                #share(title="获取邀请码") #{userCode}
            else
                #signIn 登录
        #codeView.hide
            #codePanel 邀请码
                input(type="text")#pc0
                input(type="text")#pc1
        #main
            #title #{title}
            #board
                #rules
                    ol
                        li 这是交换礼物的游戏；在决定实现别人的愿望之后，自己的愿望也会被别人看到；
                        li 双击礼物盒可以跳转到物品购买链接；
                        li 点击留言卡上的名字可以跳转到知乎个人主页地址；
                        li 登录后，点击左上角的名字，可以获得推荐码（每人两枚）
                #patchNote
                    dl
                        dt BUG修复
                            dd 修复了可以自己实现自己愿望的BUG
                            dd 修复了每个人可以许多个愿望的BUG
                            dd 压缩图片
                        dt 新功能
                            dd 登录与注册功能分开
                            dd 感谢噶皮(Gaa-pill)为每一个礼物打包
                            dd 新增修改个人信息功能
                            dd 新增登录提示信息
                            dd 新增双击已经打包好的礼物可以链接到礼物购买页
        #gifts
            if(wishes.length==0 && userCode)
                #bar
                    #firstBlood 许一个愿
            each wish in wishes
                if(!wish.Achieve)
                    .gift
                        .person
                            a#face.face(href= wish.person.url,target="_blank") #{wish.person.name}
                        .item
                            a.url(href=wish.item.url,target="_blank") #{wish.item.name}
                        #bar
                            #ido(objId=wish._id) 实现它
                else
                    .packaged(link=wish.item.url,objId=wish._id)
                        .v.tape
                        .h.tape
                        .card
                            .words #{wish.person.words}
                            .person
                                a.face(href=wish.person.url,target="_blank") #{wish.person.name}
        footer
            div
                特别感谢 gaa-pill 大王 Jooyi
            div
                &copy; 真 · 代码宅 · Darc