doctype html
html
    head
        title=title
        link(rel="stylesheet",href="/stylesheets/wish.css")
        link(rel="stylesheet",href="/stylesheets/jquery.toastmessage.css")
        script(src="http://code.jquery.com/jquery-1.10.2.min.js")
        script(src="/javascripts/wish.js")
        script(src="/javascripts/jquery.toastmessage.js")
    body
        header
            if (userCode)
                #share(title="获取邀请码") #{userCode}
            else
                #signIn 登录
        #codeView.hide
            #codePanel 邀请码
                input(type="text")#pc0
                input(type="text")#pc1
        #main
            #title #{title}
            #board
                #rules
                    ol
                        li 游戏在12月22日截至
                        li 许愿物品小于100元
                        li 登录后，点击左上角的名字，可以获得推荐码（每人只有两枚哦）
                #patchNote
                    dl
                        dt BUG修复
                            dd 暂无
                        dt 新功能
                            dd 暂无
        #gifts
            if(wishes.length==0 && userCode)
                #bar
                    #firstBlood 许第一个愿!
            each wish in wishes
                if(!wish.Achieve)
                    .gift
                        .person
                            a.face(href=wish.person.url target="_blank") #{wish.person.name}
                        .item
                            a.url(href=wish.item.url target="_blank") #{wish.item.name}
                        #bar
                            #ido(objId=wish._id) 实现它!
                else
                    .packaged
                        .v
                        .h
                        .card
                            .words #{wish.person.words}
                            .person
                                a.face(href=wish.person.url target="_blank") #{wish.person.name}
